@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-color:   rgb(238 242 255);
}

/* Custom styles for the hover underline effect */
.menu-item::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -5px; /* Adjust as necessary */
  transform: translateX(-50%) scaleX(0); /* Center the element and set initial scale */
  height: 3px;
  width: 70%; /* Adjust width to make the underline shorter than the text */
  background: blue;
  transition: transform 100ms ease-in-out; /* Smooth transition for the transform */
}

.menu-item:hover::after {
  transform: translateX(-50%) scaleX(1); /* Full width on hover */
}
